:root {
	--color-blue: #109cf1;
	--color-yellow: #ffb946;
	--color-red: #f7685b;
	--color-green: #2ed47a;
	--color-purple: #885af8;

	--color-darkBlueText: #334d6e;
	--color-gray: #90a0b7;
	--color-black: #323c47;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: 'PT Sans', sans-serif;
	position: relative;
	background-color: #f5f6f8;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h1,
h3 {
	color: var(--color-black);
}

input,
select {
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, .1);
	padding: 10px 20px;
}

textarea {
	border: none;
	padding: 10px 20px;
	resize: none;
	height: 100px;
}

.btn {
	border: 2px solid var(--color-blue);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	color: #fff;
	padding: 12px 30px;
	cursor: pointer;
	background-color: var(--color-blue);
	/* transition: background-color 0.1s ease-in;
	-webkit-transition: background-color 0.1s ease-in;
	-moz-transition: background-color 0.1s ease-in;
	-ms-transition: background-color 0.1s ease-in;
	-o-transition: background-color 0.1s ease-in; */
	font-weight: 500;
}

.btn:hover {
	background-color: #3cabf0;
}

.btn-green {
	border: 2px solid var(--color-green);
	background-color: var(--color-green);
}

.btn-green:hover {
	border: 2px solid #23f380;
	background-color: #23f380;
}

.container {
	margin-left: 300px;
	margin-right: 30px;
}

.title {
	margin-bottom: 50px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 250px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}

.header__logo {
	margin-bottom: 30px;
	padding-left: 20px;
	padding: 20px;
	font-size: 22px;
	color: var(--color-blue);
	border-bottom: 1px solid rgb(177, 177, 177, .4);
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
	-webkit-transition: background-color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in;
	-ms-transition: background-color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in;
}

.header__logo:hover {
	background-color: var(--color-blue);
	color: #fff;
}

.header__hero {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
	padding-left: 20px;
}

.header__hero img {
	margin-right: 15px;
}

.header__hero-img {
	font-size: 1.2em;
}

.header__hero-block {
	margin: 0;
}

.header__hero-block p {
	margin: 0;
	color: var(--color-gray);
}

.header__list-item {
	width: 100%;
	transition: background-color 0.4s ease-in-out;
	-webkit-transition: background-color 0.4s ease-in-out;
	-moz-transition: background-color 0.4s ease-in-out;
	-ms-transition: background-color 0.4s ease-in-out;
	-o-transition: background-color 0.4s ease-in-out;
}

.header__list-item a {
	display: inline-block;
	width: 100%;
	padding: 20px 0 20px 20px;
	text-decoration: none;
	color: var(--color-darkBlueText);
	transition: color 0.4s ease-in-out;
	-webkit-transition: color 0.4s ease-in-out;
	-moz-transition: color 0.4s ease-in-out;
	-ms-transition: color 0.4s ease-in-out;
	-o-transition: color 0.4s ease-in-out;
}

.header__list-item:hover {
	background-color: var(--color-blue);
	color: #fff;
}

.header__list-item a:hover {
	color: #fff;
}

.all-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 50px;
}

.box {
	margin-left: 10px;
	padding: 12px;
	width: 24%;
	max-width: 300px;
	min-width: 180px;
	background-color: var(--color-purple);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.box:first-child {
	margin-left: 0;
}

.box:hover {
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
}

.box__number {
	font-size: 30px;
	margin-bottom: 50px;
}

.page {
	padding: 20px;
	background-color: #fff;
	box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

/* 
=======================================================
=======================================================
=======================================================
Page clients
*/

.clients {
	/* margin-top: 30px; */
	padding: 0 50px;
	padding-top: 50px;
}

.clients__btnAdd {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
}

/*  */

.clients__table {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-between;
}

.clients__table-item {
	background-color: #fff;
	padding: 20px 40px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border: 2px solid #fff;
	margin-bottom: 10px;
	box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
	transition: transform 0.4s ease;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	-ms-transition: transform 0.4s ease;
	-o-transition: transform 0.4s ease;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.clients__table-item:hover {
	transform: translate(-15px, 0);
	-webkit-transform: translate(-15px, 0);
	-moz-transform: translate(-15px, 0);
	-ms-transform: translate(-15px, 0);
	-o-transform: translate(-15px, 0);
}

.clients__table-item:hover * {
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	color: var(--color-blue);
}

.clients__table-item a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-darkBlueText);
	text-decoration: none;
}

.clients__block {
	display: flex;
	align-items: center;
}

.clients__block.profile {
	max-width: 280px;
	min-width: 200px;
	width: 100%;
	display: flex;
	/* justify-content: space-between; */
}

.clients__block.city {
	max-width: 300px;
	min-width: 200px;
	width: 100%;
}

.clients__block.city span,
.clients__block.comment span {
	color: var(--color-gray);
}

.clients__block.comment {
	max-width: 200px;
	min-width: 150px;
	width: 100%;
}

.clients__block.meneger {
	display: flex;
	justify-content: flex-end;
	max-width: 150px;
	/* min-width: 150px; */
	width: 100%;
}

.clients__block.delete {
	display: inline-block;
	border: 1px solid tomato;
	color: tomato;
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.clients__block.delete:hover {
	background-color: tomato !important;
	color: #fff !important;
}

.clients__block.meneger span {
	color: var(--color-green);
}

.modal,
.modalOrder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .7);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal__content,
.modalOrder__content {
	max-width: 700px;
	min-width: 500px;
	width: 100%;
	background-color: #fff;
	padding: 50px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.modal__form,
.modalOrder__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal__form-input,
.modalOrder__form input {
	width: 100%;
	margin-bottom: 15px;
}

.modalOrder__form textarea,
.modalOrder__form select {
	width: 100%;
	margin-bottom: 15px;
}

.modal.hide,
.modalOrder.hide {
	display: none;
}

/* 
===========================================================
===========================================================
===========================================================
orders
*/

.order__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

.order__form input,
.order__form textarea,
.order__form select {
	width: 100%;
	margin-bottom: 15px;
}

/* 
===========================================================
===========================================================
===========================================================
admin
*/

.admin__block .box {
	background-color: var(--color-yellow);
	color: var(--color-black);
}

.client__btnAdd {
	display: flex;
	justify-content: flex-end;
}

.client {
	padding-top: 50px;
}

.client h2 {
	margin-top: 0;
}
