

<div class="container">
  <section class="admin">
    <h1>Привет {{admin}}</h1>
    <div class="all-box admin__block">
      <div class="box">
        <span class="box__number">42</span>
        <div class="box__text">Всего заказов</div>
      </div>
      <div class="box">
        <span class="box__number">1 000 000</span>
        <div class="box__text">Выручка</div>
      </div>
      <div class="box">
        <span class="box__number">33</span>
        <div class="box__text">Всего выполнено</div>
      </div>
      <div class="box">
        <span class="box__number">9</span>
        <div class="box__text">В ожидании</div>
      </div>
    </div>
        <div class="all-box admin__block">
      <div class="box">
        <span class="box__number">{{managers}}</span>
        <div class="box__text">Менеджеры</div>
      </div>
      <div class="box">
        <span class="box__number">430 000</span>
        <div class="box__text">Чистая прибыль</div>
      </div>
      <div class="box">
        <span class="box__number">{{clients}}</span>
        <div class="box__text">Всего клиентов</div>
      </div>
      <div class="box">
        <span class="box__number">9</span>
        <div class="box__text">В ожидании</div>
      </div>
    </div>
  </section>
</div>
