
<section class="info">
  <div class="container">
    <h1 class="title">Добро пожаловать </h1>
    <div class="all-box info__block">
      <div class="box">
        <span class="box__number">{{totalClients}}</span>
        <div class="box__text">Всего клиентов</div>
      </div>
      <div class="box">
        <span class="box__number">1 000 000</span>
        <div class="box__text">Выручка</div>
      </div>
      <div class="box">
        <span class="box__number">33</span>
        <div class="box__text">Всего выполнено</div>
      </div>
      <div class="box">
        <span class="box__number">9</span>
        <div class="box__text">В ожидании</div>
      </div>
    </div>

    <div class="info__page page">
      <h2 class="title">Какая то информация</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus temporibus similique dignissimos possimus placeat aliquid laudantium quaerat voluptatem quod. Eligendi, laboriosam ad. Laboriosam recusandae harum consequuntur omnis iusto et, architecto accusamus nihil nemo rerum provident. Aperiam, officia officiis enim suscipit libero quisquam delectus beatae corporis porro assumenda excepturi ex. Nostrum nulla, voluptate debitis, suscipit unde quia aliquid sit corporis quisquam tempora aut. Neque dolor ipsa quo alias consequuntur, numquam accusantium! Rerum enim magnam quaerat doloremque, voluptatum autem illo quis, accusantium non ratione qui, ex consequatur quos in labore suscipit porro ipsam totam recusandae? Vitae eos accusantium aspernatur earum ipsam fugiat voluptas ullam ducimus dolores impedit ipsum saepe pariatur rem aliquid, quibusdam perferendis consequuntur praesentium dicta quis eligendi asperiores provident culpa vel temporibus. Eveniet molestiae adipisci numquam incidunt totam. Dicta accusantium, possimus rerum perferendis, itaque dolores voluptatem modi fugit dolorum libero voluptate fuga inventore impedit. Vitae magnam placeat quam consectetur excepturi nostrum et quibusdam iure deserunt iusto officiis fuga, nulla ipsum odit ullam ipsam sequi doloribus repudiandae pariatur. Quis, necessitatibus. Odit natus velit minus blanditiis nesciunt, possimus delectus nihil veniam? Porro harum voluptatum debitis facere aliquid maxime cumque quasi mollitia est omnis odit totam vitae, quod voluptas asperiores autem dolor illum.</p>
    </div>
  </div>
</section>

